*.7z
*.gz
*.iso
*.rar
*.tar
*.zip
.DS_Store
/index.php
/manager.policy.xml
/core/*
/connectors/*
/assets/components/*
/assets/node_modules/*
/assets/files/*
/assets/images/*
/files/*
/images/*
/manager/*