@import 'nib'
@import 'rupture'

files = 'bootstrap'
for file in files
  @import file+'.css'

//@import '../fonts/stylesheet.css'

/*Зачарование пикселей в ремы*/
rem() {
  remified = ()
  for arg in arguments {
    push(remified, unit(arg/16, 'rem'))
  }
  return remified
}

/*Изменение цвета аттрибута placeholder*/
placeholder(color)
  &::-webkit-input-placeholder
    color color
  &::-moz-placeholder
    color color
  &:-ms-input-placeholder
    color color
  &::placeholder
    color color

/*Адаптив*/
rupture.scale =       0    576px    768px    992px    1200px
rupture.scale-names =  'xs'     'sm'     'md'     'lg'      'xl'

/*Цвета*/
color1 = #ccc

/*Шрифты*/
font1 = sans-serif

/*Обнуление эффектов при наведении*/
*:hover, *:active, *:focus
  outline 0 !important
  -webkit-appearance none

.btn:focus
  box-shadow none

/*Примитивный параллакс*/
.parallax
  background-position 50% 50%
  background-repeat no-repeat
  background-attachment fixed
  background-size cover

/*Мобильное меню*/
.menu-mobile
  background-color #fff
  size 100%
  position fixed
  top 0
  right -100%
  transition all 1.2s cubic-bezier(0.2, 1, 0.2, 1)
  overflow auto
  z-index 300
.open
  .menu-mobile
    right 0

/*Антиспам*/
.sendmessage
  position absolute
  size 1px
  left -99999px


/*Генератор иконок*/
/*
  Использование -
  1. Закинуть svg в папку
  2. Добавить название файла в массив icons
  3. Добавить .icon.icon-home к элементу
*/
icons = 'phone', 'mail'
generate-icons(newicon)
  &-{newicon}
    &:before
      background-image url('img/' + newicon + '.svg')

/*Настройка иконок*/
.icon
  position relative
  &:before
    content ""
    absolute left top
    size 24px
    background-repeat no-repeat
    background-size contain
  for newicon in icons
    generate-icons(newicon)